@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer reset, primeng;

:root {
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-text-primary: #f5f5f5;
  --color-text-secondary: #a1a1aa;
  --color-accent: #bef264;
  --font-family-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: white;
}

.p-button {
  transition: background-color 0.2s, color 0.2s;
}

@layer components {
  .title-brand {
    @apply text-2xl font-bold text-brand-accent mb-4;
  }
}

.meu-carrossel-customizado .p-carousel-item {
  flex: none !important;
}
