// =================================================================
// ARQUIVO PRINCIPAL DE ESTILOS - styles.scss
// =================================================================

// 1. Base (Variáveis, Mixins, Estilos Globais)
@use 'styles/base/variables';
@use 'styles/base/mixins';
@use 'styles/base/base';

// 2. Layout (Estrutura da página)
@use 'styles/layout/header';

// 3. Componentes (Peças reutilizáveis da UI)
@use 'styles/components/buttons';
@use 'styles/components/product-card';



.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; // Ocupa a maior parte da tela
  font-size: 1.5rem;
  color: #888; // Cor neutra
  text-align: center;
}

.product-card,
.btn {
  transition: all 0.2s ease-out;
}
