
/node_modules/
/server/node_modules/

/vendor/
/apex/vendor/

npm-debug.log*
yarn-error.log
yarn-debug.log
/tmp/
/apex/tmp/
/apex/app/output/

.env
.env.local
.env.*.local
/apex/app/database/*.db
/apex/app/config/tenant_*.ini

.vscode/
.idea/

.DS_Store
Thumbs.db

/files/
/apex/files/