
/node_modules/
/api/node_modules/

/vendor/
/control/vendor/

npm-debug.log*
yarn-error.log
yarn-debug.log
/tmp/
/control/tmp/
/control/app/output/

.env
.env.local
.env.*.local
/control/app/database/*.db
/control/app/config/tenant_*.ini

.vscode/
.idea/

.DS_Store
Thumbs.db

/files/
/control/files/