
/node_modules/
/server/node_modules/
/server/auth-service/node_modules/
/server/api-service/node_modules/
/server/order-service/node_modules/
/server/shipping-service/node_modules/

/vendor/
/stocktrack/vendor/

npm-debug.log*
yarn-error.log
yarn-debug.log
/tmp/
/stocktrack/tmp/
/stocktrack/app/output/

.env
.env.local
.env.*.local
/server/auth-service/.env
/server/api-service/.env
/server/order-service/.env
/stocktrack/app/config/development.ini

.vscode/
.idea/

.DS_Store
Thumbs.db

/product_images/
/stocktrack/product_images/