// =================================================================
// BOTÕES
// =================================================================
@use '../base/variables' as *; // Importa as variáveis SCSS
@use '../base/mixins' as *;

.button-group {
  display: flex;
  gap: 0.5rem;
}

.btn {
  border: none;
  padding: 12px 15px;
  border-radius: $border-radius; // Usa a variável SCSS
  cursor: pointer;
  font-weight: bold;
  font-family: inherit; // Herda a fonte base
  transition: all 0.2s ease-out;

  &--primary {
    background-color: $primary-color; // Usa a variável SCSS
    color: white; // Assume contraste bom com cores primárias
    flex-grow: 1;
  }

  &--secondary {
    @include flex-center();
    background-color: transparent;
    border: 1px solid $secondary-color; // Usa a variável SCSS
    color: $secondary-color; // Usa a variável SCSS
    width: 44px;
    height: 44px;
    padding: 0;
    font-size: 1.2rem;
  }
}
