:host {
  display: block;
  /* Garante que o componente ocupe espaço */
  width: 100%;
}

.store-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 3rem;
  /* Espaço antes do rodapé (futuro) */
}

.store-content__title {
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  /* A cor será herdada do body ou pode ser definida aqui */
}
