<menu>
    <menuitem label="Início">
        <icon>fa:home fa-fw</icon>
        <action>WelcomeView</action>
    </menuitem>

    <menuitem label="Gestão da Loja">
        <icon>fa:store fa-fw</icon>
        <menu>
            <menuitem label="Clientes">
                <icon>fa:user</icon>
                <action>ClientesPage</action>
            </menuitem>
            <menuitem label="Produtos">
                <icon>fa:box</icon>
                <action>ProdutosPage</action>
            </menuitem>
            <menuitem label="Pedidos">
                <icon>fa:shopping-cart</icon>
                <action>PedidosPage</action>
            </menuitem>
            <menuitem label="Estoque">
                <icon>fa:box-open</icon>
                <action>EstoquePage</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Gerenciamento Avançado">
        <icon>fa:cogs fa-fw</icon>
        <menu>
            <menuitem label="Categorias de Produtos">
                <icon>fa:clone</icon>
                <action>CategoriasPage</action>
            </menuitem>
            <menuitem label="Adicionar Estoque">
                <icon>fa:plus-circle</icon>
                <action>EstoqueForm</action>
            </menuitem>
            <menuitem label="Imagens de Produtos">
                <icon>fa:image</icon>
                <action>ImagensProdutosForm</action>
            </menuitem>
             <menuitem label="Relatórios">
                <icon>fa:chart-pie</icon>
                <action>PesquisasRecentesList</action>
            </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label='Administração do Sistema'>
        <icon>fas:sliders fa-fw</icon>
        <menu>
            <menuitem label='Dashboard'>
                <icon>fas:tachometer-alt fa-fw</icon>
                <action>SystemAdministrationDashboard</action>
            </menuitem>
            <menuitem label='Programas'>
                <icon>far:file-code fa-fw</icon>
                <action>SystemProgramList</action>
            </menuitem>
            <menuitem label='Grupos'>
                <icon>fas:users fa-fw</icon>
                <action>SystemGroupList</action>
            </menuitem>
            <menuitem label='Usuários'>
                <icon>fas:user fa-fw</icon>
                <action>SystemUserList</action>
            </menuitem>
             <menuitem label="Gerenciar Tenants">
                <icon>fa:building</icon>
                <action>TenantList</action>
            </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label="Logs do Sistema">
        <icon>fas:desktop fa-fw</icon>
        <menu>
            <menuitem label='Dashboard de Logs'>
                <icon>fas:tachometer-alt fa-fw</icon>
                <action>SystemLogDashboard</action>
            </menuitem>
            <menuitem label='Log de Acesso'>
                <icon>fas:key fa-fw</icon>
                <action>SystemAccessLogList</action>
            </menuitem>
            <menuitem label='Log de Alterações'>
                <icon>fas:film fa-fw</icon>
                <action>SystemChangeLogView</action>
            </menuitem>
            <menuitem label='Log de SQL'>
                <icon>fas:database fa-fw</icon>
                <action>SystemSqlLogList</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>