<ng-container *ngIf="(theme$ | async) as theme">
  <div class="product-card" [ngClass]="getHoverClass(theme)" *ngIf="product" (click)="viewProductDetails()">

    <img class="product-card__image"
      [src]="product.main_image_url ? (apiImage + '/' + product.main_image_url) : 'https://api.iconify.design/ph:image-square-duotone.svg?color=%23cccccc'"
      [alt]="product.name">

    <div class="product-card__info">
      <h4 class="product-card__title">{{ product.name }}</h4>
      <p class="product-card__price">R$ {{ product.price | number:'1.2-2' }}</p>

      <div class="buttons">
        <div class="button-group">
          <button class="btn btn--primary" [ngClass]="getButtonHoverClass(theme)">Comprar Agora</button>
          <button class="btn btn--secondary" (click)="toggleFavorite($event)" [ngClass]="getButtonHoverClass(theme)" [class.is-favorite]="isFavorite">
            <i class="fa fa-heart"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
</ng-container>
